/* GENERAL */

html{
    background-color: #F6F6C9;
}

.logo{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50px;
}
.navname{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    left: 80px;
}
.bg-navbar{
    background-color: #153462;
    height: 55px;
}

/* HOME */

.btn-secondary{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #bad1c2;
    border-color: #bad1c2;
}

.btn-register{
    position: absolute;
    right: 135px;
    top: 9px;
}

.img-home{
    position: absolute;
    max-height: fit-content;
    height: 500px;
    width: 500px;
}

.card-title{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 50px;
    color: black;
    top: 230px;
    left: 570px;
    background-color: #F6F6C9;
}

.card-text{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    background-color: #F6F6C9;
    top: 320px;
    left: 570px;
    right: 100px;
}

.bi-shop{
    margin-top: 130px;
    margin-left: 200px;
    color: #4FA095;
}

/* LOGIN */

main{
    background-color: #F6F6C9;
}

.fs-1{
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F6F6C9;
}

.input-group{
    text-align: center;
    top: 150px;
    margin-top: 10px;
    width: 350px;
    margin: 0 auto;
}

.btnlogin{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 180px;
    left: 135px;
}

.btnregister{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 180px;
}

.nav-link{
    color: black;
}

/* Footer */
